#body2 {
  /*margin-top: 90px;*/
}

.navbar-brand {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: rgba(23, 23, 23, 0.75);
  border-color: #000000;
}

#map {
  height: 400px;
}

.main-img {
  width: 100%;
  height: 200px;
}

.jumbotron {
  background-position: center;
  height: 600px;
  color: #e70b6f;
}

.section-icons {
  float: right;
  font-size: 34px;
  margin-top: 0px;
  color: #999;
  border-radius: 10px;
}

.section-header {
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 20px;
}

.btn {
  margin: 2px;
}

.activities-entry {
    clear: left;
}
.profile-img{
  width: 200px;
  height: 200px;
  float: left;
  margin: 25px;
}
@media only screen and (max-width: 414px) {
  .jumbotron {
      background-image: url('../images/bkgnd-crowd-mobile-2x.png');
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .jumbotron {
      background-image: url('../images/bkgnd-crowd-tablet-2x.png');
  }
}

@media screen and (min-width: 1025px) {
  .jumbotron {
      background-image: url('../images/bkgnd-crowd-desktop-2x.png');
  }
}

.jumbotron .container {
  position: relative;
  top: 200px;
}

.jumbotron h1 {
  color: #e70b6f;
  text-shadow: 1px 1px 7px #000000;
}

.work-entry {
  margin: 0 0 15px;
}

.education-entry {
  margin: 0 0 20px;
}

.pspace {
  margin: 10px 0 10px;
}

.flex-item {
  display: inline-block;
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.flex-box {
  padding-left: 0px;
}

.brand-logo {
  display: inline-block;
  margin-top: 15px;
  color: white;
}

.navbar-text {
  color: white:
}

.brand-slash {
  padding-right: 3px;
  padding-left: 3px;
}

@media screen and (max-width: 536px) {
/*	body { background-color: green; } */
  .brand-logo {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: white;
  }
  .brand-slash {
    display: none;
  }
  .brand-logo-bottom{
    margin-top: -10px;
  }
  .brand-logo-top{
    margin-top: 5px;
  }

}

@media screen and (min-width: 1000px) {

/*  body { background-color: green; } */

  .container {
    width: 950px;
  }
}
